RewriteEngine on
ErrorDocument 404 main.php?page=404

RewriteRule ^$ main.php?page=lista [L]
RewriteRule ^mapa?$ main.php?page=mapa [L]
RewriteRule ^contactos?$ main.php?page=contactos [L]
RewriteRule ^detalhes?$ main.php?page=detalhes [L]