@charset "utf-8";

body{
	background:#666;	
}

* {
	padding:0;
	margin:0;
}

a, a:hover, a:focus{
	color:#000;
	outline:none;
	text-decoration:none;
}

.contacto p a{
	color:#428bca;	
}

.contacto p a:hover, .contacto p a:focus{
	color:#2a6496;
	text-decoration:underline;
}

#corpo{
	background:#999;
	width:1150px;
	overflow:auto;
	margin-right: auto;
	margin-left: auto;
}

#logo{
	width:996px;
	height:264px;
	margin-top: 10px;
	margin-right:auto;
	margin-left:auto;
	background-image:url(/images/Topo.png);
	background-repeat:no-repeat;
}


/* ..:: Menu ::..*/
#menu { 
	width:996px;
	background-image:url(/images/Menu.png);
	background-repeat:no-repeat;
	height: 40px;
	margin-right:auto;
	margin-left:auto;
}

#menu ul {
	list-style-type:none;
	margin-left: 50px;
}

#menu ul li {
	float:left;
}

#menu ul li a {
	display:block;
	padding: 4px 15px 2px 15px;
	font:20px Arial, Helvetica, sans-serif, sans-serif;
	color:#000000;
	text-decoration:none;
}

#menu ul li a:hover{
	background:#069;
	color:#FFFFFF;
}

.fb-like {
	float: right;
	margin: 5px 22px 0 0;
}


/* ..:: Conteudo ::.. */
#conteudo {
	width: 979px;
	margin: 15px 78px;
}

#conteudo >.left, #conteudo >.right {
	margin-bottom: 25px;
}

#conteudo >.left {
	float:left;
	width:300px;
	background: #CCCCCC;
}

#conteudo >.right {
	float:right;
	width:650px;
}

#conteudo >.full {
	width: 100%
}

.head {
	background: #069;
	color: #FFF;
	font-size: 20px;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
}


/* ..:: Pesquisa ::..*/
.pesquisa{
	margin-left: 22px;
	margin-right: 22px;
	color: #000;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 200%;	
}

.pesquisa input[type=checkbox], .pesquisa select, .slider {
	float: right;
}

.slider {
	margin-bottom: 20px;
}

.pesquisa select {
	font-size: 16px;
	width: 200px;
	margin-bottom: 5px;
}

.pesquisa input[type=submit] {
	margin: 20px;
}

.pesquisa p {
	margin: 0;
}

.pesquisa form>div {
	margin-left: 40px;
}

.btn-lg{
	width: 200px;
	margin-left: 15px;
}


/* ..:: List ::..*/
.list {
	background: #666;
}

.list a {
	display: block;
	background:#CCC;
	height: 110px;
	margin: 20px auto 20px auto;
	width: 92%;
	cursor:pointer;
}

.list a div {
	margin-left:115px;	
}

.list img {
	float:left;	
	padding: 5px 0 5px 5px;
}

.list h1 {
	font-size:16px;
}

.list span {
	float:right;
	margin-right: 10px;
}

.list center {
	padding: 25px;
}


/* ..:: Map ::..*/
#map {
	width: 979px;
	height: 700px;
}

#map .label {
	color: red;
	background-color: white;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	width: 65px;     
	border: 2px solid black;
	white-space: nowrap;
}


/* ..:: Contacto ::..*/
.contacto {
	background-color: #CCCCCC;
}

.contacto div {
	clear:both;
	padding:50px 0 0 50px;
}

.contacto img {
	float:left;
}

.contacto p, .contacto h1 {
	margin-left: 150px;
}

.contacto h1 {
	font-size:24px;
}

.contacto span {
	padding: 30px 200px;
	display: block;
	text-align:justify;
}


/* ..:: Detalhes ::..*/

.detalhes {
	background-color: #CCCCCC;
	padding: 1px 0 25px 0;
}

.detalhes p label {
	width: 200px;
	margin-left:50px;
}

.detalhes .list {
	width: 450px;
	padding: 1px 0;
	margin: 50px;
}

.detalhes .list a {
	padding: 10px 0;
	height: 90px;
}

.detalhes .list p {
	margin: 0;
}

.detalhes .right {
	float:right;
	margin:50px 50px 50px 0;
}

.detalhes .right p {
	width:400px;	
}

.detalhes .right p label{
	width: 150px;
	margin-left:0;
}

.detalhes .extra {
	margin-left:50px;	
}

.detalhes .extra p label{
	margin-left:50px;	
	width: 150px;
}

#sliderFrame{
	padding-top:50px;
	padding-bottom:50px;	
}


