@charset "utf-8";
/* CSS Document */

*{ padding:0; margin:0; }
body{ background:#666;}
#corpo{ width:1150px; overflow:auto; background:#999; margin-right:auto; margin-left:auto}
#corpo #logo{ width:996px; height:264px; padding:10px; margin-right:auto; margin-left:auto}


/* ..:: Menu ::..*/
#corpo #menu{width:996px; overflow:auto ; background-image:url(../images/Menu.png); margin-right:auto; margin-left:auto}
#corpo #menu ul{ list-style-type:none; padding:0px 50px}
#corpo #menu ul li{ float:left; position:relative;}
#corpo #menu ul li a{ display:block; padding:8px 15px; font:20px Arial, Helvetica, sans-serif, sans-serif; color:#000000; text-decoration:none;}
#corpo #menu ul li a:hover{background:#069; color:#FFFFFF}


/* ..:: Conteudo ::.. */
#corpo #conteudo { width:979px; overflow:auto; margin: 10px 78px;}
#corpo #conteudo #left{ float:left; width:300px; background:#CCCCCC}
#corpo #conteudo #right{ float:right; width:650px; overflow:auto; background:#000}


/* ..:: Parte Esquerda ::..*/
#corpo #conteudo #left #post{ float:left; width:300px; background:#069;}
#corpo #conteudo #left #post titulo{ padding:0px 100px; color: #FFF; font-size: 20px; font-family: "Arial Black", Gadget, sans-serif; }
#corpo #conteudo #left pesquisa{ float:left; width:300; color:#000; font-size: 18px; font-family: Arial, Helvetica, sans-serif;}